p{
	font-size: 15px;
}

h2{
	font-size: 20px;
}

h1{
	font-size: 25px;
}

iframe{
	height: 500px;
	width: 100%;
}


footer {
    background-color: white ;
    padding: 1rem 0;
    margin-top: auto;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.hero-img {
	text-align: center;
}

.text-muted{
	color: black; !important;
}

.hero-img img {
  width: 30%; /* Προεπιλογή για μικρές οθόνες (π.χ. κινητά) */
  max-width: 150px; /* Μπορείς να το προσαρμόσεις όπως θες */
}

@media (min-width: 768px) {
  .hero-img img {
    width: 100%; /* Για μεσαίες οθόνες (≥768px) */
  }
}

.row-section{
	margin-top: 4rem;
}
